@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icons/icomoon.eot?uw8x42');
    src:    url('../fonts/icons/icomoon.eot?uw8x42#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.ttf?uw8x42') format('truetype'),
        url('../fonts/icons/icomoon.woff?uw8x42') format('woff'),
        url('../fonts/icons/icomoon.svg?uw8x42#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}
.icon-google-plus:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}

