body {
	color: #444;
	font-family: 'Montserrat', sans-serif;
	background-color: #ececec;
}

/*GENERAL*/
.title {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 50px;
}

.btn-shop {
	color: #fff;
	text-transform: uppercase;
	border: solid 2px #fff;
	padding: 10px 15px;
}

.btn-shop:hover,
.btn-shop:focus {
	color: #363636;
	text-decoration: none;
	background-color: #fff;
}

.btn-more {
	color: #fff;
	text-transform: uppercase;
	background-color: #38b8b2;
	padding: 10px 15px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.btn-more:hover,
.btn-more:focus {
	color: #363636;
	text-decoration: none;
	background-color: #fff;
}
/*GENERAL*/

/*HEADER*/
#main-header {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
}

#main-header ul {
	margin-left: 0;
	padding-left: 0;
}

#main-header ul li {
	list-style-type: none;
}

#main-menu {
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-menu a {
	color: #444;
	text-transform: uppercase;
}

#main-menu a:hover {
	color: #38b8b2;
}

#main-menu.nav-pills > li.active > a, 
#main-menu.nav-pills > li.active > a:hover, 
#main-menu.nav-pills > li.active > a:focus,
#main-menu.nav-pills>li>a:hover {
	background: none;
}

}

#main-menu.nav-pills > li.active > a, 
#main-menu.nav-pills > li.active > a:hover, 
#main-menu.nav-pills > li.active > a:focus {
	color: #38b8b2;	
}

#main-menu.nav .open > a, 
#main-menu.nav .open > a:hover, 
#main-menu.nav .open > a:focus {
	background: none;
}


#mobile-menu-button {
	color: #444;
	font-size: 28px;
	font-size: 2.8rem;
	float: right;
	width: 44px;
	margin: 20px 0;
}
#mobile-menu-button:hover,
#mobile-menu-button:focus {
	text-decoration: none;
}

#mobile-main-menu {
	display: none;
}

#mobile-main-menu a {
	display: block;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #eee;
	color: #444;
	text-align: center;
	text-transform: uppercase;
}

#mobile-main-menu li {
	margin: 0;
}

#mobile-main-menu a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #38b8b2;
}

.logued {
	border: solid 1px;
	border-radius: 5px 0 0 5px;
}

.logued:last-child {
	border-radius: 0 5px 5px 0;	
}
/*HEADER*/

/*BANNER*/
#banner {
	font-family: 'Lato', sans-serif;
	color: #fff;
	background-color: #363636;
	margin-top: 64px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

#banner h2 {
	font-size: 48px;
	font-size: 4.8rem;
	font-weight: 300;
}

#banner p {
	margin-bottom: 30px;
}
/*BANNER*/

/*PRODUCTS*/
.product {
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	margin-top: 100px;
	margin-bottom: 30px;
}

.product .btn-shop {
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0;
	top: 35%;
	right: 0;
	width: 33%;
}

.product .description {
	border-top: solid 1px;
	padding: 10px;
}

.product .description p {
	font-size: 10px;
	font-size: 1rem;
}

.product .description h4 {
	text-transform: uppercase;
}
/*PRODUCTS*/

/*ARTICLES*/

.in-product {
	color: #fff;
	text-transform: uppercase;
	background-color: #38b8b2;
	padding: 10px 15px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	width: 140px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

#articles .price {
	color: #38b8b2;
	position: absolute;
	left: 10px;
	top: 10px
}
/*ARCTICLES*/

/*FOOTER*/

footer {
	background-color: #f9f9f9;
	padding-top: 70px;
	padding-bottom: 50px;
}


footer h4 {
	font-weight: 700;
	text-decoration: underline;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	list-style-type: none;
}

footer ul li:before {
	content: '*';
}

footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
	color: #808080;
}

#copyright {
	background-color: #f1f1f1;
	padding-top: 30px;
	padding-bottom: 20px;
}
/*FOOTER*/