/*BANNER*/
#banner {
	font-family: 'Lato', sans-serif;
	color: #444;
	background-color: #fff;
	margin-top: 64px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	padding-top: 50px;
}

#banner h2 {
	font-size: 48px;
	font-size: 4.8rem;
	font-weight: 300;
}

#banner p {
	margin-bottom: 30px;
}
/*BANNER*/

/*FILTER*/
#filter {
	margin-top: 64px;
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	height: auto;
	padding-bottom: 20px;
}

#filter .filter-options {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #b7b7b7;
	padding: 10px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	position: relative;
}

#filter .filter-options:before {
	content: '';
	width: 10px;
	height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	position: absolute;
	left: 0;
	top: 0;
}

#filter ul {
	margin: 0;
}

#filter ul li {
	list-style-type: none;
}

#filter ul li a {
	color: #00a99d;
}

#filter #marcas:before {
	content: '';
	background-color: #00a99d;
}

#filter #categorias:before {
	content: '';
	background-color: #ff4527;
}

#filter #precio:before {
	content: '';
	background-color: #ffba00;
}
/*FILTER*/