.img-principal {
	margin-top: 64px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	padding-top: 100px;
    padding-bottom: 100px;
}

.img-others {
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
	margin-bottom: 10px;
	padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.descripcion {
	margin-top: 64px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}